.header{
    margin-top:80px;
    display:flex;
}

.header-images{
    width:46%;
    background-color:#F1EADC ;
    height:87Vh;
    position:absolute;
    top:0;
    right:0px;
}

.header-content{
    width:41%;
    padding:20px;
    margin-left:350px;
}

.header-main-pic{
    position:absolute;
    width:420px;
    height:602px;
    top: 100px;
    right:310px;
    background-image: url('../../public/images/header-main-pic.png');
    background-position: center;
}

.header-left-pic{
    position:absolute;
    bottom:0px;
    right:617px;
    width:190px;
    height:318px;
    background-image: url('../../public/images/header-left-pic.png');
    background-size: cover;
}

.header-right-pic{
    position:absolute;
    background-image: url('../../public/images/header-right-pic.png');
    background-size: cover;
    width:197px;
    height:197px;
    top:206px;
    right:206px;
}

.header-title{
    font-size:55px;
    font-weight:500;
}

.header-text1{
    padding-left:30px;
    line-height:28px;
    font-size:20px;
}

.header-text2{
     line-height:28px;
     font-size:20px;
     margin-left:10px;
}

.header-text3{
    padding-left:80px;
    line-height:28px;
    font-size:20px;
    margin-left:30px;
}

.btn-container{
    display:flex;
    align-items: center;
    margin-left:78px;
}

.header-btn{
    margin: 60px 0px ;
    background-color:#6E9C9F;
    color:white;
    padding:22px 50px;
    border:1px solid #6E9C9F;
}

@media only screen and (min-width: 390px) and (max-width: 1120px){

    .header{
        flex-flow: column wrap;
        padding:10px;
        justify-content: flex-start;                                        
        margin-top:0;
    }

    .header-images{
        width:100%;                                                  
        background-color:transparent;
        height:87Vh;
        position:relative;
    }
   
    .header-main-pic{
        top:20px;
        right:-20px;
        height:652px;
        background-image: url('../../public/images/header-main-pic.png');
        background-size: cover;
    }

    .header-title{
        font-size:45px;
    }

   .header-left-pic,.header-right-pic{
        display:none;
    }

    .header p{
        font-size:18px;
    }

   .header-content {
        width: 100%; 
        padding:0px;
        text-align:center;
        margin:0;
    }

    .btn-container{
        width:60%;
        display: flex;
        align-items:center;
        justify-content:flex-end;
    }

    .header-btn{
        width:200px !important;
        padding:20px 30px;
    }

    .btn-pic{
        height:62px;
    }

    .header-contact{
        z-index:2;
        position:relative;
    }

    .header-btn{
        width:240px !important;
        padding:10px 30px !important;
    }

    .header-text3{
        padding-left:0px !important;
    }
}